In [79]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('US/Eastern'))
print(now)

2016-12-06 17:54:56.582244-05:00

In [147]:
import random
import pandas as pd

//anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [84]:
def randomSingleDigit():
  return int(random.random()*10)

In [107]:
def getRandomBool():
  return bool(int(random.random()*2))

In [85]:
def getNRandom2DPoints(N):
  points = [str(randomSingleDigit()) + ' ' + str(randomSingleDigit()) for _ in range(N)]
  return('(' + ','.join(points) + ')')

In [86]:
def getRandomPoint():
  return('POINT' + getNRandom2DPoints(1))

In [199]:
def getRandomLinestring():
  return('LINESTRING' + getNRandom2DPoints(3))

In [209]:
def getRandomSquare():
  n = str(randomSingleDigit() + 1) # plus one because we do not want 0 to have a zero area
  return('POLYGON((0 0,' + n + ' 0,' + n + ' ' + n + ',0 ' + n + ',0 0))')

In [117]:
def getRandomMultiPoint():
  return('MULTIPOINT(' + getNRandom2DPoints(1) + ',' + getNRandom2DPoints(1) + ')')

In [118]:
def getRandomMultiLinestring():
  return('MULTILINESTRING(' + getNRandom2DPoints(3) + ',' + getNRandom2DPoints(3) + ')')

In [119]:
def getRandomMultiPolygon():
  n = str(randomSingleDigit() + 1) # plus one because we do not want 0 to have a zero area
  return('MULTIPOLYGON(((0 0,' + n + ' 0,' + n + ' ' + n + ',0 ' + n + ',0 0)),((0 0,' + n + ' 0,' + n + ' ' + n + ',0 ' + n + ',0 0)))')

In [120]:
def getRandomGeometryCollection():
  return('GEOMETRYCOLLECTION(' + getRandomPoint() + ',' + getRandomSquare() + ')')

In [156]:
colors = ['red', 'blue', 'green', 'yellow', 'black', 'white', 'pink', 'grey', 'orange', 'beige']
def getRandomString():
  index = randomSingleDigit()
  return colors[index]

In [151]:
colsNames = ['time', 'text', 'int','float','boolean','point','geoLinestring','geoPolygon','geoMultipoint','geoMultilinestring','geoMultipolygon','geometryCollection']

In [253]:
N = 100
df = pd.DataFrame(
    columns=colsNames,
    data=zip(*[
        # date
		[now - datetime.timedelta(seconds=30 * i) for i in range(N)],

        # text
        [getRandomString() for _ in range(N)],

        # integer
        range(N),
        
         # double
        [random.random() for i in range(N)],

		 # boolean
        [bool(random.random() > 0.5) for i in range(N)],

        # geo-point
        [getRandomPoint() for _ in range(N)],

        # geo-line
        [getRandomLinestring() for _ in range(N)],
 
      	# geo-polygon
        [getRandomSquare() for _ in range(N)],
 
      	# geo-multipoint
        [getRandomMultiPoint() for _ in range(N)],
 
      	# geo-multilinestring
        [getRandomMultiLinestring() for _ in range(N)],
 
      	# geo-multipolygon
        [getRandomMultiPolygon() for _ in range(N)],
       
      	# geo-geocollection
        [getRandomGeometryCollection() for _ in range(N)],
    ])
)

In [254]:
df.head()

,time,text,int,float,boolean,point,geoLinestring,geoPolygon,geoMultipoint,geoMultilinestring,geoMultipolygon,geometryCollection
0,2016-12-06 17:54:56.582244-05:00,grey,0,0.672545,False,POINT(1 1),"LINESTRING(0 8,0 5,0 4)","POLYGON((0 0,6 0,6 6,0 6,0 0))","MULTIPOINT((3 0),(9 0))","MULTILINESTRING((2 5,8 8,8 6),(9 9,5 2,2 2))","MULTIPOLYGON(((0 0,1 0,1 1,0 1,0 0)),((0 0,1 0...","GEOMETRYCOLLECTION(POINT(0 7),POLYGON((0 0,8 0..."
1,2016-12-06 17:54:26.582244-05:00,blue,1,0.029477,False,POINT(9 7),"LINESTRING(2 7,8 0,8 2)","POLYGON((0 0,9 0,9 9,0 9,0 0))","MULTIPOINT((0 7),(2 7))","MULTILINESTRING((5 0,5 7,6 9),(4 8,7 2,8 9))","MULTIPOLYGON(((0 0,6 0,6 6,0 6,0 0)),((0 0,6 0...","GEOMETRYCOLLECTION(POINT(6 2),POLYGON((0 0,8 0..."
2,2016-12-06 17:53:56.582244-05:00,beige,2,0.051234,True,POINT(0 8),"LINESTRING(2 3,5 6,8 2)","POLYGON((0 0,3 0,3 3,0 3,0 0))","MULTIPOINT((7 5),(6 6))","MULTILINESTRING((0 1,8 0,8 0),(1 1,7 5,0 1))","MULTIPOLYGON(((0 0,5 0,5 5,0 5,0 0)),((0 0,5 0...","GEOMETRYCOLLECTION(POINT(1 9),POLYGON((0 0,8 0..."
3,2016-12-06 17:53:26.582244-05:00,red,3,0.389400,True,POINT(7 7),"LINESTRING(5 0,3 5,5 3)","POLYGON((0 0,1 0,1 1,0 1,0 0))","MULTIPOINT((5 6),(6 7))","MULTILINESTRING((9 7,3 8,1 3),(1 3,4 5,0 5))","MULTIPOLYGON(((0 0,7 0,7 7,0 7,0 0)),((0 0,7 0...","GEOMETRYCOLLECTION(POINT(1 2),POLYGON((0 0,6 0..."
4,2016-12-06 17:52:56.582244-05:00,red,4,0.873651,False,POINT(9 2),"LINESTRING(0 6,7 6,6 8)","POLYGON((0 0,1 0,1 1,0 1,0 0))","MULTIPOINT((1 5),(4 0))","MULTILINESTRING((5 7,8 9,2 4),(2 5,3 8,0 5))","MULTIPOLYGON(((0 0,4 0,4 4,0 4,0 0)),((0 0,4 0...","GEOMETRYCOLLECTION(POINT(6 0),POLYGON((0 0,1 0..."

### Connect to a PostGIS database

In [220]:
import psycopg2

In [221]:
# help(psycopg2.connect)

In [222]:
credentials = {
  'database': 'postgis', 
  'user': 'masteruser', 
  'password': 'connecttoplotly',
  'port': 5432,
  'host': 'test-postgres.cwwxgcilxwxw.us-west-2.rds.amazonaws.com'
}

In [223]:
connection = psycopg2.connect(user=credentials['user'], 
                  			password=credentials['password'], 
                  			database=credentials['database'], 
                  			host=credentials['host'], 
                  			port=credentials['port'])

In [224]:
cursor = connection.cursor()

In [225]:
connection.autocommit

False

means we have to remember to commit our changes at the end

### Now that we have the database cursor, let's create the table scaffold

[postgis docs](http://postgis.net/docs/using_postgis_dbmanagement.html)

In [227]:
# help(cursor.execute)

In [255]:
try:
  cursor.execute('DROP TABLE test;')
except:
  pass

In [256]:
connection.commit()

In [ ]:
cursor.close()

In [257]:
from sqlalchemy import *
from geoalchemy2 import Geometry

In [258]:
engine = create_engine('postgresql://masteruser:connecttoplotly@test-postgres.cwwxgcilxwxw.us-west-2.rds.amazonaws.com:5432/postgis')

In [259]:
# create table
meta = MetaData(engine)

In [260]:
my_table = Table('test', meta,
    Column('id', Integer, primary_key=True),
    Column('time', DateTime),
    Column('text', Text),
    Column('int', Integer),
    Column('float', Float),
    Column('boolean', Boolean),
    Column('point', Geometry('Point')),
    Column('geoLinestring', Geometry('Linestring')),
    Column('geoPolygon', Geometry('Polygon')),
    Column('geoMultipoint', Geometry('Multipoint')),
    Column('geoMultilinestring', Geometry('Multilinestring')),
    Column('geoMultipolygon', Geometry('Multipolygon')),
    Column('geometryCollection', Geometry('Geometrycollection'))
)

In [261]:
my_table.create(engine)

In [262]:
conn = engine.connect()

In [263]:
conn.execute(my_table.insert(), df.to_dict('records'))

In [274]:
dfexit = pd.read_sql_query('select * from "test"',con=engine)
dfexit.head()

,id,time,text,int,float,boolean,point,geoLinestring,geoPolygon,geoMultipoint,geoMultilinestring,geoMultipolygon,geometryCollection
0,1,2016-12-06 22:54:56.582244,grey,0,0.672545,False,0101000000000000000000F03F000000000000F03F,0102000000030000000000000000000000000000000000...,0103000000010000000500000000000000000000000000...,0104000000020000000101000000000000000000084000...,0105000000020000000102000000030000000000000000...,0106000000020000000103000000010000000500000000...,0107000000020000000101000000000000000000000000...
1,2,2016-12-06 22:54:26.582244,blue,1,0.029477,False,010100000000000000000022400000000000001C40,0102000000030000000000000000000040000000000000...,0103000000010000000500000000000000000000000000...,0104000000020000000101000000000000000000000000...,0105000000020000000102000000030000000000000000...,0106000000020000000103000000010000000500000000...,0107000000020000000101000000000000000000184000...
2,3,2016-12-06 22:53:56.582244,beige,2,0.051234,True,010100000000000000000000000000000000002040,0102000000030000000000000000000040000000000000...,0103000000010000000500000000000000000000000000...,01040000000200000001010000000000000000001C4000...,0105000000020000000102000000030000000000000000...,0106000000020000000103000000010000000500000000...,0107000000020000000101000000000000000000F03F00...
3,4,2016-12-06 22:53:26.582244,red,3,0.389400,True,01010000000000000000001C400000000000001C40,0102000000030000000000000000001440000000000000...,0103000000010000000500000000000000000000000000...,0104000000020000000101000000000000000000144000...,0105000000020000000102000000030000000000000000...,0106000000020000000103000000010000000500000000...,0107000000020000000101000000000000000000F03F00...
4,5,2016-12-06 22:52:56.582244,red,4,0.873651,False,010100000000000000000022400000000000000040,0102000000030000000000000000000000000000000000...,0103000000010000000500000000000000000000000000...,0104000000020000000101000000000000000000F03F00...,0105000000020000000102000000030000000000000000...,0106000000020000000103000000010000000500000000...,0107000000020000000101000000000000000000184000...

In [275]:
dfexit.columns

Index([u'id', u'time', u'text', u'int', u'float', u'boolean', u'point',
       u'geoLinestring', u'geoPolygon', u'geoMultipoint',
       u'geoMultilinestring', u'geoMultipolygon', u'geometryCollection'],
      dtype='object')

In [273]:
dfexit.columns.values

array([u'st_astext'], dtype=object)

In [284]:
dfexit = pd.read_sql_query('select St_AsText(point) from "test"',con=engine)
dfexit.head()

    st_astext
0  POINT(0 0)

In [282]:
dfexit = pd.read_sql_query('select St_AsText(point), St_AsText(test.linestring) from "test" where St_Intersects(point, linestring)', con=engine)

In [283]:
dfexit.head()

    st_astext                st_astext
0  POINT(0 0)  LINESTRING(0 0,1 1,1 2)