In [3]:
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Search, Q

In [4]:
client = Elasticsearch('http://67a7441549120daa2dbeef8ac4f5bb2e.us-east-1.aws.found.io:9200')

In [5]:
import pandas as pd

//anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [6]:
# upload the data to elasticsearch

try:
	client.indices.delete('plotly_datasets')
except:
	pass
  
client.indices.create(
    index='plotly_datasets',
    body={
        'mappings': {
            'ebola_2014': {
                'properties': {
                    'index': {'type': 'integer'},
                    'Country': {'type': 'string'},                    
                    'Month': {'type': 'integer'},
                    'Year': {'type': 'integer'},
                    'Lat': {'type': 'float'},
                    'Lon': {'type': 'float'},
                    'Value': {'type': 'float'},
                }
            }
        }
    }
)

{u'acknowledged': True}

In [7]:
df = pd.DataFrame(pd.read_csv("/Users/Alexandre/Workstation/repos/datasets/ebola_2014.csv"))

In [8]:
df.head()

  Country  Month  Year   Lat  Lon  Value
0  Guinea      3    14  9.95 -9.7    122
1  Guinea      4    14  9.95 -9.7    224
2  Guinea      5    14  9.95 -9.7    291
3  Guinea      6    14  9.95 -9.7    413
4  Guinea      7    14  9.95 -9.7    460

In [9]:
bulk = []
for i in range(len(df)):
    bulk.append({'index': {'_index': 'plotly_datasets', '_type': 'ebola_2014', '_id': str(i)}})
    bulk.append(df.iloc[i].to_dict())

In [10]:
response = client.bulk(bulk, request_timeout=1000)

In [11]:
response.keys()

[u'items', u'errors', u'took']

In [12]:
response['errors']

False